.idea
/bin
.project
.settings
/idea
/src/*.class
/out
/out/
/bin/
.uml
.idea
*/bin
*/idea
*/src/*.class
*/out
CharlyDay/bin/
CharlyDay/vendor
/vendor
/vendor/
.composer
CharlyDay/composer.json
CharlyDay/src/conf/conf.ini
CharlyDay/composer.lock

